.wrapper {
    width: 100%;
    background-color: #fafafa !important;
    padding-bottom: 6em;
}

.title {
    margin-left: 46vw;
    padding-top: 1em;
    padding-bottom: 2em;
}

.image-grid {
    margin: auto;
}

.wrapper-image-grid {
    margin-left: 1.5in;
}

.images {
    margin-bottom: 3em;
    transition: .1s ease-in-out;
}

.images:hover {
    transform: scale(1.1);
}

@media(max-width:1200px) {
    .image-definer-wrapper {
        margin-left: 7vw;
    }
}

@media(max-width:990px) {
    .image-definer-wrapper {
        margin-left: 18vw;
    }
    .images {
        height: 30em;
    }
}

@media(max-width:618px) {
    .image-definer-wrapper {
        margin-left: 30vw;
    }
    .images {
        height: 15em;
    }
}

@media(max-width:535px) {
    .image-definer-wrapper {
        margin-left: 20vw;
    }
}