<div class="container" style="background-color:#fafafa !important; width:100% !important;">
    <div class="row align-items-center justify-content-center">
        <h1 class="title col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">Tools</h1>
    </div>
</div>

<div class="wrapper">
    <div class="container image-grid">
        <div class="row image-definer-wrapper align-items-center justify-content-center">
            <!-- <div class="row"> -->
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" class="col-lg-3 col-md-4 col-sm-12" href="https://developer.android.com/studio/">
                    <img class="images images-android-studio" height="200px" src="../../assets/tech-icons/android-studio-icon.png">
                </a>
            </div>
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" href="https://angular.io/">
                    <img class="images images-angular" height="200px" src="../../assets/tech-icons/angular-icon.svg">
                </a>
            </div>
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS">
                    <img class="images images-css" height="200px " src="../../assets/tech-icons/css3-icon.png ">
                </a>
            </div>
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" href="https://www.docker.com/">
                    <img class="images images-docker" height="200px " src="../../assets/tech-icons/docker-icon.png ">
                </a>
            </div>
            <!-- </div> -->

            <!-- <div class="row"> -->
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" href="https://www.eclipse.org/">
                    <img class="images images-eclipse" height="200px " src="../../assets/tech-icons/eclipse-icon.png ">
                </a>
            </div>
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" href="https://www.w3.org/html/">
                    <img class="images images-html" height="200px " src="../../assets/tech-icons/html-icon.png ">
                </a>
            </div>
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" target="_blank" href="http://hibernate.org/">
                    <img class="images images-hibernate" height="200px " src="../../assets/tech-icons/hibernate-icon.png ">
                </a>
            </div>
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" target="_blank" href="https://flutter.io/">
                    <img class="images images-flutter" height="200px " src="../../assets/tech-icons/flutter-icon.svg">
                </a>
            </div>
            <!-- </div> -->


            <!-- <div class="row"> -->
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" href="https://spring.io/">
                    <img class="images images-spring" height="200px " src="../../assets/tech-icons/icon-spring-framework.svg ">
                </a>
            </div>
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" href="https://www.java.com/en/">
                    <img class="images images-java" height="200px " src="../../assets/tech-icons/java-icon.png ">
                </a>
            </div>
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" href="https://developer.mozilla.org/bm/docs/Web/JavaScript">
                    <img class="images images-js" height="200px " src="../../assets/tech-icons/js-icon.png ">
                </a>
            </div>
            <div class="image-col-definer col-lg-3 col-md-4 col-sm-12">
                <a target="_blank" href="https://www.mysql.com/">
                    <img class="images images-mysql" height="200px " src="../../assets/tech-icons/mysql-icon.svg ">
                </a>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>