<div class="container about">
    <h1>About</h1>
    <p>
        <br /> I first got into software development when I was 10, when I created a very vary basic html website that simply displayed some static text, at that point I fell in love with the very idea of programming.

        <br />
        <br /> At 16 I joined a software development bootcamp where I quickly learned to actually create production software, no more "todo" apps. Apps that were optimized, tested, packaged, documented, and just generally proffessional.

        <br />
        <br /> After joining my first company as a full-stack developer I cemented those skills and gained more knowledge, fast forward 6 years to today, and I am still working at that same company as a private contractor while also taking on new clients,
        for some variety.

    </p>
</div>