<footer class="footer container">

    <div class="row">
        <h1 class="name-header col-lg-3 col-xl-3 col-md-12">
            ARSENIY
        </h1>

        <h1 class="name-header col-lg-3 col-xl-3 col-md-12">
            CHERNYKH
        </h1>



        <div class="container contactLinks col-lg-3">
            <div class="row">
                <a href="tel:+38-066-335-8076" class="contactLink">
                    <h1>38 066 335 8076</h1>
                </a>
                <a href="mailTo:syzzleHD@gmail.com" class="contactLink">
                    <h1>SyzzleHD@gmail.com</h1>
                </a>
                <a href="skype:syzzlehd" class="contactLink">
                    <h1>Skype: SyzzleHD</h1>
                </a>
                <a href="https://www.upwork.com/freelancers/~01503edec057c6db6e" class="contactLink">
                    <h1>Upwork</h1>
                </a>
            </div>
        </div>

        <div class="center" style="position: relative; width: 600px; height:25em;">

            <div style="position: absolute; bottom: 5px;">
                &copy; 2018 arseniychernykh.com
            </div>
        </div>
    </div>



</footer>